@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@300;400;700&display=swap");

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #4c8c8d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  color: #000;
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}
button {
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
button:hover {
  transform: scale(1.1);
} /* Scaling the button on hover
/************ Navbar Css ************/
.navbar {
  background-color: #fff;
  overflow: hidden;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 7px solid #9bb2b2;
}

.logo img {
  height: 100%;
}
.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo-description {
  margin-left: 5px;
  font-size: 20px;
  color: #4c8c8d;
  font-weight: bold;
}
.navbar-link {
  transition: color 0.3s ease-in-out;
  position: relative;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
.navbar-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.navbar-link:hover::before {
  width: 100%;
  visibility: visible;
}

.navbar button {
  color: #fff;
  background-color: #f18825;
  width: 180px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px !important;
}
.navbar button,
.navbar a {
  margin: 0px 30px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar a {
    float: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
/************ Header Css ************/
.header {
  height: 80vh;
  background-color: #4c8c8d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}
.header * {
  color: #fff;
}
.header h1 {
  font-size: 50px;
}
.header h3 {
  margin-top: 20px;
  font-size: 40px;
}
.header-img img {
  height: 100%;
  width: 100%;
}
.header button {
  margin-top: 40px;
  width: 162px;
  height: 54px;
  background-color: #f18825;
  border-radius: 50px;
  font-size: 30px;
}
.header-link {
  font-size: 30px;
  text-decoration: underline; /* Remove underline from default state */
  padding-left: 70px;
}
.header-link:hover {
  text-decoration: underline;
}
/************ Support Css ************/
.support {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  flex-wrap: wrap;
  background-color: #4c8c8d;
  margin-top: 70px;
}
.support-title {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
.support-way {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  width: 350px;
  height: 350px;
  margin: 0 20px;
  border-radius: 50px;
  box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.3);
}
.support-way img {
  width: 50px;
  padding-bottom: 20px;
}
.support-way h3 {
  padding-bottom: 20px;
  font-size: 36px;
}
.support-way p {
  font-weight: 300;
  font-size: 18px;
  padding: 0 5px;
}
/************ Stat Css ************/
.metric-wrapper,
.metric,
.stat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.metric-wrapper {
  width: 100%;
}
.metric {
  margin-top: 100px;
  flex-direction: column;
  width: 30%;
}
.stat {
  margin-top: 130px;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-color: #f18825;
}
.stat h3 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
.stat p,
.stat h4 {
  font-weight: bold;
  font-size: 35px;
  color: #fff;
}
.stat p {
  font-weight: 500;
}
.stat-line {
  margin: 15px 0;
  text-align: center;
  width: 60%;
  height: 4px;
  background-color: #fff;
}

/************ Stats Section ************/

.sponsors {
  padding: 120px 0 60px 0;
  position: relative;
}
.sponsors-bx {
  display: flex;
  text-align: center;
  margin-top: 20px;
  padding: 30px 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sponsors h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.sponsors-slider {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.sponsors-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 1440px) {
  .banner {
    padding-top: 150px;
  }
}

/************ Contact Section ************/

.contact {
  text-align: center;
  padding: 60px 0 100px 0;
}
.contact-form {
  margin-top: 70px;
}
.footer-image-wrapper {
  padding: 100px 0;
}
.contact h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact p {
  color: #fff;
  font-size: 25px;
  padding: 0px 10%;
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: #000;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  opacity: 0.8;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .contact {
    padding-bottom: 60px;
  }
  .contact img {
    width: 75%;
    padding: 0 0 50px 0;
  }

  .contact-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/************ Footer Css ************/
.footer {
  background-color: #fff;
  overflow: hidden;
  padding: 50px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 7px solid #9bb2b2;
}
.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo-description {
  margin-left: 5px;
  font-size: 26px;
  color: #4c8c8d;
  font-weight: bold;
}
.footer-link {
  transition: color 0.3s ease-in-out;
  position: relative;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
.footer-link img {
  width: 27px;
  height: 27px;
  margin: 0 12px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar a {
    float: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

/************ Register page Css ************/
.register {
  height: 85vh;
  overflow: hidden;
}
.register .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register .logo-wrapper img {
  width: 80px;
}
.register .logo-wrapper p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.register .contact {
  margin-top: 100px;
}
.register .contact button {
  margin-top: 50px;
}

/* Dashboard */
.cart-div{
  font-size: large;
}

.cart-div button{
  background-color: #f18825;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
}
